{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Your Expenditure:</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="text-nowrap">
                        <th scope="col">Value</th>
                        <th scope="col">Spent at</th>
                        <th scope="col">Category</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">{{ expenditure.value }}</td>
                        <td class="text-nowrap">{{ expenditure.spent_at.strftime('%Y-%m-%d') }}</td>
                        <td class="text-nowrap">{{ expenditure.category.path|join(' - ') }}</td>
                        <td>{% if expenditure.comment %}{{ expenditure.comment }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if referrer is not none %}
            <span><a href="{{ referrer }}">Back to previous page.</a> </span>
        {% else %}
            <span><a href="{{ url_for('expenditure.expenditures') }}">Back to expenditures.</a> </span>
        {% endif %}
    </div>
{% endblock %}
