{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>Your expensditures:</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr class="text-nowrap">
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Spent at</th>
                    <th scope="col">Category</th>
                    <th scope="col">Comment</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for exp in pagination.items %}
                    <tr>
                        <th scope="row"
                            class="text-nowrap">{{ loop.index + (pagination.page - 1) * pagination.per_page }}</th>
                        <td class="text-nowrap">{{ exp.value }}</td>
                        <td class="text-nowrap">{{ exp.spent_at.strftime('%Y-%m-%d') }}</td>
                        <td class="text-nowrap">{{ exp.category.path|join(' - ') }}</td>
                        <td>{% if exp.comment %}{{ exp.comment }}{% endif %}</td>
                        <td>
                            <a href="{{ url_for('expenditure.expenditure_detail_view', exp_id=exp.id)  }}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Info"><span class="fas fa-info xs"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
